language: node_js
node_js:
  - '12'
addons:
  chrome: stable
  firefox: "49.0"

cache:
  directories:
    - ./node_modules

install:
  - npm install

script:
  - npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox,Firefox
