language: node_js
node_js:
  - '12'
addons:
  chrome: stable
  firefox: "46.0"

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

cache:
  directories:
    - ./node_modules

install:
  - npm install

before_script:
  - npm install jpm -g

script:
  - npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox
  - npm run test -- --watch=false --no-progress --browsers=Firefox
