language: node_js
node_js:
  - '12'
script:
  - npm run jpm-travis

services:
  - xvfb 
  
os:
  - linux
  - osx

addons:
  chrome: stable
  firefox: latest

addons:
  chrome: stable
  firefox: latest

cache:
  directories:
    - ./node_modules

before_install:
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then export DISPLAY=:99.0 ; fi
  - sleep 3

install:
  - npm install

before_script:
  - npm install jpm -g
  
script:
  - if [[ "$TRAVIS_OS_NAME" = "linux" ]]; then npm run test -- --watch=false --no-progress --browsers=ChromeHeadlessNoSandbox,FirefoxHeadless ; fi
  - if [[ "$TRAVIS_OS_NAME" = "osx" ]]; then npm run test -- --watch=false --no-progress --browsers=Safari ; fi
branches:
  only:
  - master

